.imagem{
	width: 300px;
	height: 231px;
	margin: 180px 400px 10px 150px;
}

.parag{
	margin: -220px 400px 10px 450px;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: #800000;
}

